div.appview-container.st-emotion-cache-1wrcr25.ea3mdgi4{
    background: linear-gradient(30deg, rgb(255, 255, 255), rgb(238, 0, 255),  rgb(108, 3, 255), rgb(255, 255, 255));
    animation: color ease-in-out infinite;
}
@keyframes color {
    0% {background:0 25%}
    25% {background: 25 50%;}
    50% {background: 50 75%;}
    100% {background: 75 100%}
}


div.block-container.st-emotion-cache-1y4p8pa.ea3mdgi2{
    background-color: transparent;
    
}


/* <span class="st-emotion-cache-10trblm e1nzilvr1">Neural Network Analysis of Kidney Stone</span> */
span.st-emotion-cache-10trblm.e1nzilvr1{
    border-radius: 25px;
    font-family: 'Alata', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

div.st-emotion-cache-1vbkxwb.e1nzilvr5{
    font-family: 'Alata', sans-serif;
    color: rgb(255, 255, 255);
}
button.st-emotion-cache-7ym5gk.ef3psqc12{
    background-color: rgb(0, 140, 255);
}
